@media (max-width: 992px) {

    nav {
        width: 13rem;
        height: 100vh;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
    }

    nav ul li {
        margin: 0 4rem;
    }

    img:not(.close) {
        width: 28vw;
    }

    .line {
        width: 80%;
    }

    /******Works-Section******/
    html body #Works {
        padding-left: 0;
        padding-right: 0;
    }

    #Works div button:first-child {
        position: relative;
        left: 0;
    }

    #Works div button:last-child {
        position: relative;
        right: 0;
    }

    #Works .works div.carusel {
        width: 90%;
    }

    #Works div img {
        width: 60%;
    }

    /******Form-Section******/

    #Form h3 {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {

    #Works .works div {
        width: 100%;
    }

    #WorksAll h2 {
        padding-top: 2rem;
    }

    #Contact .imageBox img {
        margin-bottom: 8rem;
    }

    /******Form-Section******/

    #Form {
        width: 80vw;
        left: 8vw;
    }

    #Form button {
        width: 8rem;
        height: 3rem;
    }

    #Form h3 {
        font-size: 1.6rem;
    }

    #Form .closeBtn {
        right: 1rem;
    }

    #Form div:nth-child(3) textarea {
        width: 18rem;
    }

    #WorksFile {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #WorksFile div.carousel {
        width: 100%;
    }

    #WorksFile .carousel img {
        max-width: 70%;
        max-height: 95%;
    }

    #WorksFile div button {
        width: 3rem;
        height: 3rem;
    }

    #WorksFile div.carousel .backPic {
        left: 1vw;
    }

    #WorksFile div.carousel .forwardPic {
        right: 1vw;
    }

    #WorksFile .close {
        right: 1vw;
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 480px) {

    /******Default******/

    h3 {
        font-size: 2rem;
    }

    section:not(#Form) {
        padding: 1rem;
    }

    .textBox {
        width: 100%;
    }

    .imageBox {
        width: 100%;
        justify-content: center !important;
        padding: 2rem 0;
    }

    #AboutMe, #Articles article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    img:not(.close) {
        width: 70%;
    }

    /******Home-Section******/

    #Home h2, #Home h3 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #Home .btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 11rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /******Articles-Section******/

    #Articles article:nth-child(1),#Articles article:nth-child(3) {
        flex-direction: column-reverse;
    }

    #Articles article:nth-child(3) img {
        width: 90%;
    }

    /******Works-Section******/

    #Works div button:first-child {
        position: relative;
        /* top: 40%; */
        left: 0;
    }

    #Works div button:last-child {
        position: relative;
        /* top: 40%; */
        right: 0;
    }

    #Works div img {
        width: 60%;
    }

    html body #Works .works .carusel {
        padding: 0;
        width: 95vw;
        height: 60vh;
    }

    /******Contact-Section******/

    #Contact .imageBox {
        display: none;
    }

    /******Footer******/

    footer p {
        width: 90vw;
        height: 4vh;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /******Form-Section******/

    #Form {
        width: 90vw;
        height: 90vh;
        left: 3vw;
        top: 5vh;
    }

    #Form h3 {
        margin-top: 3rem;
    }

    #Form button {
        padding: 1rem;
    }

    #Form .closeBtn {
        right: 1rem;
    }

    #Form div:nth-child(3) textarea {
        width: 16rem;
        height: 4rem;
    }
}